* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Poppins", sans-serif;
}



@media (max-width: 768px) {
    .side-img {
        display: none;
    }
}

body {
    background: linear-gradient(135deg, rgb(4, 48, 245), purple);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("night-img.jpg") no-repeat center / fill;

}



.mascot {
    width: 150px;
    margin-bottom: 10px;
}

.login-container {
    animation: pop 0.6s ease;
}

@keyframes pop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}





.login-container {
    background-color: #ffffff;
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
    color: #333;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin: 10px 0 5px;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ddd;
    outline: none;
    font-size: 14px;
}

input:focus {
    border-color: #66a6ff;
}

.login-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #66a6ff;
    background: linear-gradient(to right, #4ef343, #0cca8e87);

    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.login-btn:hover {
    background-color: #4f8cff;
    transform: translateY(-3px) scale(1.05);
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #999;
}

.google-btn {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

.google-btn:hover {
    transform: scale(1.05);
}

.G-logo {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}


.footer-text {
    margin-top: 15px;
    font-size: 13px;
    color: #555;
}

.footer-text span {
    color: #66a6ff;
    font-weight: bold;
    cursor: pointer;
}


#log-msg {
    margin-top: 15px;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    text-align: center;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Login Success */
.login-success {
    background-color: #d4edda;
    color: #0de740;
    font-size: bold;
    border: 1px solid #c3e6cb;
}

/* Error msg */
.login-error {
    background-color: #f8d7da;
    color: #8c0210;
    font-size: bold;
    border: 1px solid #f5c6cb;
}